body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.h1 {
    color: teal; 
    margin-left: auto;
    margin-right: auto; 
    width: 570px; 
}

.p {
    color: teal; 
    margin-left: auto; 
    margin-right: auto; 
    width: 262px; 
}

.p_1 {
    color: teal; 
    margin-left: auto; 
    margin-right: auto; 
    width: 570px; 
}

.container {
    width: 570px;
    margin: auto;
    border: 1px solid blue;
}

header {
    height: 50px;
    /* width: 1359px; */
    background-color: greenyellow;
    box-shadow: 0px 2px 50px 0px goldenrod;
}

nav {
    display: flex;
}

nav li {
    display: flex;
    margin-top: 0;
    width: 35%;
    margin-top: 16px;
}